<div class="login-page">
  <div class="login-spacer"></div>
  <div class="login-container">
    <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 class="card-heading">
      User Login
    </h2>
    <form class="login-form">
      <mat-form-field >
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Email">
      </mat-form-field>    
      <mat-form-field>
        <input matInput type='password' placeholder="Password">
      </mat-form-field>
    </form>
    <div class="buttons">
      <div class="login">
        <button mat-raised-button color="primary">Login</button>
      </div>
      <div class="register">
        <button mat-raised-button color="primary">Register</button>
        <button mat-button color="primary">Forgot Password</button>
      </div>      
    </div>
  </div>
</div>
